{% extends 'layout_admin.html' %}
{% block content %}

<div class="container-fluid">
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Management</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add a Author</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% include '_messages.html' %}
      <div class="text-center  p-2 h3 mb-3">{% if update_author %}Upade {% else %}Add a {% endif %}author</div>
      <form method=post>
        <div>
          <form action="" method="post">
            {% if update_author %}
            <input type="text" name="author" class="form-control" value="{{update_author.name}}">
            <input type="submit" value="Update Author" class="btn btn-info mt-3">
            {% else %}
            <input type="text" name="author" class="form-control">
            <input type="submit" value="Add a Author" class="btn btn-info mt-3">
            {% endif %}
          </form>
        </div>
      </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}