
{% extends 'layout_admin.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Management</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add a Product</h6>
        </div>
                <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form method="post" enctype="multipart/form-data">
                <div>
                    {{ render_field(form.name, class="form-control") }}

                    {# {{ render_field(form.author, class="form-control") }} #}
                    {{ render_field(form.price, class="form-control") }}
                    {{ render_field(form.discount, class="form-control") }}
                    {{ render_field(form.stock, class="form-control") }}
                    <label for="category">Add a category</label>
                    <select name="category" id="category" class="form-control" required>
                    {% if getproduct %}
                    <option value="{{getproduct.category_id}}" style="display: none;">{{getproduct.category.name}}</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                    {% else %}
                    <option value=""></option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                    {% endif %}
                    </select>

                    {{ render_field(form.discription, class="form-control", rows="10") }}
                </div>
                <div class="container">
                    <div class="row">
                    {% if getproduct %}
                    <div class="btn btn-outline-success"><input type="file" name="image_1" id="image_1">
                        <a href="{{url_for('static',filename='images/' + getproduct.image_1)}}">images/{{ getproduct.image_1}}</a>
                    </div>
                    <div class="btn btn-outline-success"><input type="file" name="image_2" id="image_2">
                        <a href="{{url_for('static',filename='images/' + getproduct.image_2)}}">images/{{ getproduct.image_2}}</a>
                    </div>
                    <div class="btn btn-outline-success"><input type="file" name="image_3" id="image_3">
                        <a href="{{url_for('static',filename='images/' + getproduct.image_3)}}">image/{{ getproduct.image_3}}</a>
                    </div>
                    {% else %}
                    <div class="col-md-4">{{ render_field(form.image_1) }}</div>
                    <div class="col-md-4">{{ render_field(form.image_2) }}</div>
                    <div class="col-md-4">{{ render_field(form.image_3) }}</div>
                    {% endif %}
                    </div>
                </div>
                <input type="submit" value="{% if getproduct %} Update {% else %} Add {% endif %} product" class="btn btn-primary btn-user btn-block mt-3">
                </form>
    </div>
</div>
<!-- /.container-fluid -->

{% endblock content %}