{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
  {% include '_messages.html' %}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm">
        <thead>
          <th>Index</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Discount</th>
          <th>Subtotal</th>
          <th>Update</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {% for key, product in session['Shoppingcart'].items() %}
          {% set discount =(product.discount/100) * product.price|float %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{product.name}}</td>
            <form action="{{url_for('updatecart', code=key)}}" method="post">
            <td>${{"%.2f"|format(product.price)}}</td>
            <td> <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}">
            {% if product.discount  %}
            <td>{{product.discount}} % is {{discount|round}}</td>
            {% set subtotal = product.quantity|int * discount|int %}
            {% else %}
            <td>None</td>
            {% set subtotal = product.quantity|int * product.price|int %}
            {% endif %}
            <td>NT ${{ subtotal|round }}</td>
            <td><button type="submit" class="btn btn-sm btn-info">Update</button></td>
            </form> 

            <td><a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table table-sm">
        <tr>
          <td> <a href="{{url_for('get_order')}}" class="btn btn-success">Order now</a> </td>
          <td width="35%"></td>
          <td> <a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right mr-4">Clear Cart</a> </td>
              <td>NT {{grandTotal}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}