{% extends 'layout_admin.html' %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Book Authors</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% include '_messages.html' %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if authors %} {% for author in authors %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ author.name }}</td>
                            <td><a href="{{url_for('update_author', id=author.id)}}" class="btn btn-sm btn-info">Edit</a></td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{author.id}}">Delete</button></td>
                        </tr>
                    </tbody>
                    <div class="modal fade" id="exampleModal-{{author.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ author.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-danger">Are you Sure that you want to delete this Author ({{ author.name }})</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form action="{{url_for('delete_author',id=author.id)}}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}